.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

body{
    background-image: url("https://media.istockphoto.com/id/959104114/vector/light-colored-beige-vintage-paper.jpg?s=612x612&w=0&k=20&c=JvE0rI9Htw-dwm6VlxW7UVbHtxKi_SnMEjpvXfwISa8=");
    background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  
}